<!doctype html>
<html>
<head>
     <title>YF电影</title>
      <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">  <!--此为页头-->
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <img src="{{ url_for('static', filename='img/logo.png') }}" width="95" height="54">
        </a>
        <span class="fs-4">找回密码</span>
      </header>
    <section>
        <form action="{{url_for('forget_cap')}}" method="POST">
        <div class="form-floating">
                <input type="text" class="form-control" id="floatingInput" name="captcha" >
                <label for="floatingInput">已经发送到邮箱，请输入验证码</label>
            <p>{{error}}</p>
              </div>
            <a  href="{{url_for('forget')}}"><button class="w-50 btn btn-primary" type="button">上一步</button></a>
        <button class="w-50 btn btn-primary" type="submit">下一步</button>
        </form>
    </section>
</div>
</body>
</html>