<!doctype html>
<html>
<head>
     <title>YF电影</title>
      <link href="{{url_for('static',filename='css/bootstrap.min.css')}}" rel="stylesheet">
</head>
<body>
<div class="container">
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">  <!--此为页头-->
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <img src="{{ url_for('static', filename='img/logo.png') }}" width="95" height="54">
        </a>
        <span class="fs-4">找回密码</span>
      </header>
    <section>
        <form action="{{url_for('forget_changepass')}}" method="POST">
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
                <label for="floatingPassword">密码</label>
              </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floating2Password" name="password2" placeholder="Password">
                <label for="floatingPassword">确认密码</label>
              </div>
            <p>{{error}}</p>
        <button class="w-50 btn btn-primary" type="submit">下一步</button>
        </form>
    </section>
</div>
</body>
</html>