<!doctype html>
<html>
    <head>
        <title>注册 - YF电影网</title>
        <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container text-center">
            <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
                <a href="{{url_for('index')}}" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                    <img src="{{ url_for('static', filename='img/logo.png') }}" height="54" width="95">
                  <span class="fs-4">注册</span>
                </a>
              </header>
        
        <main class="form-signin w-100 m-auto">
            <div class="row">
                <div class="col-sm-5">
            <form>
                <div class="form-floating">
                    <input type="text" class="form-control" id="floatingUsername" name="username" placeholder="User name">
                    <label for="floatingInput">用户名</label>
                  </div>
              <div class="form-floating">
                <input type="email" class="form-control" id="floatingEmail" name="email" placeholder="name@example.com">
                <label for="floatingInput">邮箱</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
                <label for="floatingPassword">密码</label>
              </div>
              <div class="form-floating">
                <input type="password" class="form-control" id="floating2Password" name="password2" placeholder="Password">
                <label for="floatingPassword">确认密码</label>
              </div>
              <button class="w-50 btn btn-primary" type="submit">下一步</button>
              {{error}}
            </form>
                </div>
                <div class="col-sm-7">

                </div>
            </div>
          </main>
          <footer><p class="mt-5 mb-3 text-muted">© YF电影网制作</p></footer>
        </div>
        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>